@import url('https://fonts.googleapis.com/css2? family= Montserrat+Subrayada:wght@700 & display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} 

body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: Montserrat, sans-serif;
	background: #FF0000;
}

.contenedor{
	display: flex;
	width: 300px;
	height: 320px;
	color: white;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 38px;
	background: linear-gradient(145deg, #6e6666, #000000);
	box-shadow:  5px 5px 10px #312d2d,
             -5px -5px 10px #c3b5b5;
}    

.contar{
	font-size: 5rem;
}         

.botones{
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

button{
	margin-top: 5px;
	width: 70px;
	height: 25px;
	cursor: pointer;
	font-size: 1.5rem;
	background: white;
	border: none;
	border-radius: 5px;
}

#contar{
	color: blue;
}

span{
	color: #FF0000;
}

.reset{
	width: 70px;
	height: 25px;
}